//////column///////////////////////////////////////////////
.col-6two {
    width: 100%;
    height: auto;

}

///////////////////from///////////////////////////////////////////
.from {
    width: 500px;
    height: 700px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    margin-top: 110px;
    margin-left: 130px;
    // box-shadow: 0 0 10px #fff, 0 0 30px rgba(255, 255, 255, 0.4), 0 0 60px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.12);
}

// /////////////from heading/////////////////////////////////
.from-text {
    text-align: center;
    padding-top: 30px;
}

.from-p {
    text-align: center;
}

/////////////////////////heading ends////////////////////////////////////
.name-class {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 15px 50px 0 50px;
}

.heading-name {
    padding: 0;
    color: #fff;
}

.name {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

///////////email////////////
.mail-class {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 15px 50px 0 50px;
}

.heading-email {
    color: #fff;
    padding-right: 350px;
}

.email {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

////////phone number///////
.number-class {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 15px 50px 0 50px;
}

.heading-no {
    color: #fff;
    padding-right: 270px;
    white-space: nowrap;
}

.number {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

/////////select course///////////
.course-class {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 15px 50px 0 50px;
}

.heading-course {
    color: #fff;
    padding-right: 220px;
    white-space: nowrap;
}

.program {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

////////btn////////////////////
.submition {
    width: 450px;
    height: 60px;
    border-radius: 12px;
    border: none;
    margin-top: 110px;
    background: linear-gradient(to top, #0278a7, #072eda);
    transition: 0.3s ease;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    margin-inline: auto;
    display: block;
}

.submition:hover {
    background: rgb(24, 24, 24);
    color: #fff;
}