.next-container {
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: #03030a;
}

.blob-1 {
    position: absolute;
    width: 800px;
    height: 500px;
    background: linear-gradient(120deg, #1450c0, #01b7ff, #002cee);
    filter: blur(80px);
    top: 30%;
    left: 0%;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 10s ease-in-out infinite;
}

//animation starts//


@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}




/////////////////////////contents//////////
.my-container {
    position: absolute;
    z-index: 2;
    max-width: 1200px;
    height: auto;
    left: 0;
    margin: auto;
    right: 0;
}

.about-us {
    text-align: center;
    color: aliceblue;
    padding-top: 60px;
}

.about-text {
    font-size: 40px;
    font-weight: 700;
    font-family: poppins, sans-serif;
}

.about-paragraph {
    padding-top: 20px;
    font-family: poppins, sans-serif;

}

///////////cards///////////////////////////////////////////////////

.about-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 60px;
}
.card {
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    text-align: center;
    transition: .3s;
}

// .card:hover {
//     transform: translateY(-10px);
//     background: rgba(255, 255, 255, 0.1);
// }

.card {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.mentor-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}


.mentor-text {
    color: #000000;
    font-weight: 500;
    padding-top: 20px;
}

///card2////

.learn-img {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
}

////card3//

.project-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

////card4////

.job-img {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
}

////btn////
.read {
    background: linear-gradient(to bottom, #0278a7, #072eda);
    color: #fff;
    border: none;
    border-radius: 12px;
    width: 150px;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

.read:hover {
    background: rgba(49, 47, 47, 0.815);
    color: #000000;
}

////////////////////////////////////stats//////////////////////////////////////////////////////////
.stats {
    display: flex;
    gap: 60px;
    z-index: 0;
    position: absolute;
    padding-top: 150px;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.student h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.student p {
    color: #fff;
    font-size: 20px;
}

.course h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.course p {
    color: #fff;
    font-size: 20px;
}

.success h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.success p {
    color: #fff;
    font-size: 20px;
}

///////////////////////////////////////////////////